.wave-container {
  position: relative;
  width: 100vw;
  height: 350px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw; /* Force at least full width */
  height: 100%;
  animation: floatWave 2s ease-in-out infinite alternate;
}


.wave2 {
  animation-delay: 0.5s;
  opacity: 0.5;
}

.wave3 {
  animation-delay: 1s;
  opacity: 0.2;
}

@keyframes floatWave {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
